-- https://github.com/BloodLetters/Ash-Libs
local GUI = loadstring(game:HttpGet("https://raw.githubusercontent.com/BloodLetters/Ash-Libs/refs/heads/main/source.lua"))()

GUI:CreateMain({
    Name = "ybka",
    title = "ybka GUI",
    ToggleUI = "K",
    WindowIcon = "home", -- you can use lucid icons
    -- WindowHeight = 600, -- default height
    -- WindowWidth = 800, -- default width
    Theme = {
        Background = Color3.fromRGB(25, 25, 35),
        Secondary = Color3.fromRGB(35, 35, 45),
        Accent = Color3.fromRGB(138, 43, 226),
        Text = Color3.fromRGB(255, 255, 255),
        TextSecondary = Color3.fromRGB(180, 180, 180),
        Border = Color3.fromRGB(50, 50, 60),
        NavBackground = Color3.fromRGB(20, 20, 30)
    },
    Blur = { -- Buggy
        Enable = false, -- transparent option
        value = 0.2
    },
    Config = { -- not implemented yet
        Enabled = false,
    }
})

local main = GUI:CreateTab("Main", "home") -- You can use IconID we didnt impleemnt lucid or any external icons

GUI:CreateSection({
    parent = main, 
    text = "Section"
})

GUI:CreateButton({
    parent = main, 
    text = "fly", 
    callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/XNEOFF/FlyGuiV3/main/FlyGuiV3.txt"))()
        GUI:CreateNotify({title = "Button Clicked", description = "yba popa"})
    end
})

GUI:CreateButton({
    parent = main, 
    text = "esp", 
    callback = function()
        loadstring(game:HttpGet("https://raw.githubusercontent.com/GoodVipGood/gg/refs/heads/main/.gitignore"))()
        GUI:CreateNotify({title = "Welcome", description = "yba popka"})
    end
})


local settings = GUI:CreateTab("Settings", "settings")
GUI:CreateSection({
    parent = settings, 
    text = "Settings Section"
})

GUI:CreateButton({
    parent = settings, 
    text = "Reset Settings", 
    callback = function()
        GUI:CreateNotify({ title = "Settings Reset", text = "All settings have been reset to default."})
    end
})

GUI:CreateDivider({
    parent = settings
})

GUI:CreateButton({
    parent = settings, 
    text = "Reset 2", 
    callback = function()
        GUI:CreateNotify({ title = "Settings Reset", text = "All settings have been reset to default."})
    end
})
